.profile .top .user-image {
    display: flex;
}

.profile .top .user-image .img-wrapper {
    min-width: 125px;
    max-width: 250px;
    width: 250px;
    min-height: 125px;
    max-height: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .top .user-image .img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.profile .top .user-image .side {
    margin: auto 0;
    margin-left: 20px;
}

.profile .user-profile {
    margin-top: 20px;
}

.profile .user-profile .input {
    margin: 3px 0;
}

.profile .user-profile label {
    font-weight: 500;
    margin-right: 20px;
}

.profile .user-profile input {
    padding: 5px 0;
    padding-left: 5px;
    width: 255px;
    background: none;
    outline: none;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.profile .user-profile input:focus {
    border: 1px solid rgba(0, 140, 255, 0.7) !important;
    box-shadow: 0 0 10px rgba(0, 140, 255, 0.3);
}

.profile .user-profile .action button {
    padding: 8px 12px;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    transform: scale(1);
    transition: 0.2s;
}
