/* custom-pagination */

.custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .custom-pagination li {
    margin: 0 5px;
  }
  
  .custom-pagination li a {
    background-color: #007bff;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: .2s;
  }
  
  .custom-pagination li.active a {
    background-color: #007bff;
    color: #fff;
  }
  
  .custom-pagination li a:hover {
    background-color: #f0f0f0;
    color: var(--black);
  }